src/main/resources/BillingWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BillingWebServiceService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/billingService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/billingService"
                  xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/billingService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/billingService"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/billingService">
            <xs:element name="checkstatut" type="tns:checkstatut"/>
            <xs:element name="checkstatutResponse" type="tns:checkstatutResponse"/>
            <xs:element name="generateBill" type="tns:generateBill"/>
            <xs:element name="generateBillResponse" type="tns:generateBillResponse"/>
            <xs:complexType name="checkstatut">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="checkstatutResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="billStatus" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generateBill">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="generateBillResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bill_generate" type="tns:bill"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bill">
                <xs:sequence>
                    <xs:element name="billAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="billDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="billStatus" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="paymentDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="extension restriction" name="dateTime">
                <xs:complexContent>
                    <xs:extension base="tns:baseDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="baseDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractInstant">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractInstant">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="beginTime" type="xs:string"/>
                    <xs:element minOccurs="0" name="customer" type="tns:customer"/>
                    <xs:element name="customerMark" type="xs:int"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="endTime" type="xs:string"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="packageDelivered" type="tns:package"/>
                    <xs:element name="price" type="xs:double"/>
                    <xs:element name="status" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="package">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="provider">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="packages" nillable="true" type="tns:package"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ExternalPartnerException" type="tns:ExternalPartnerException"/>
            <xs:complexType name="ExternalPartnerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkstatut">
        <wsdl:part name="parameters" element="ns1:checkstatut">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateBill">
        <wsdl:part name="parameters" element="ns1:generateBill">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkstatutResponse">
        <wsdl:part name="parameters" element="ns1:checkstatutResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ExternalPartnerException">
        <wsdl:part name="ExternalPartnerException" element="ns1:ExternalPartnerException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateBillResponse">
        <wsdl:part name="parameters" element="ns1:generateBillResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BillingWebService">
        <wsdl:operation name="checkstatut">
            <wsdl:input name="checkstatut" message="ns1:checkstatut">
            </wsdl:input>
            <wsdl:output name="checkstatutResponse" message="ns1:checkstatutResponse">
            </wsdl:output>
            <wsdl:fault name="ExternalPartnerException" message="ns1:ExternalPartnerException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateBill">
            <wsdl:input name="generateBill" message="ns1:generateBill">
            </wsdl:input>
            <wsdl:output name="generateBillResponse" message="ns1:generateBillResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BillingWebServiceServiceSoapBinding" type="ns1:BillingWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkstatut">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="checkstatut">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkstatutResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExternalPartnerException">
                <soap:fault name="ExternalPartnerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateBill">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generateBill">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateBillResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BillingWebServiceService">
        <wsdl:port name="BillingWebServicePort" binding="ns1:BillingWebServiceServiceSoapBinding">
            <soap:address location="http://localhost:8080/BillingComponent/webservices/BillingWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
