src/main/resources/DeliveryWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DeliveryWebServiceService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService"
                  xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService" version="1.0">

            <xs:element name="getNextDelivery" type="tns:getNextDelivery"/>

            <xs:element name="getNextDeliveryResponse" type="tns:getNextDeliveryResponse"/>

            <xs:element name="initializeDelivery" type="tns:initializeDelivery"/>

            <xs:element name="initializeDeliveryResponse" type="tns:initializeDeliveryResponse"/>

            <xs:complexType name="getNextDelivery">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="getNextDeliveryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="the_next_delivery" type="tns:delivery"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="beginTime" type="xs:string"/>
                    <xs:element minOccurs="0" name="customer" type="tns:customer"/>
                    <xs:element name="customerMark" type="xs:int"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="endTime" type="xs:string"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="packageDelivered" type="tns:package"/>
                    <xs:element name="price" type="xs:double"/>
                    <xs:element name="status" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType final="extension restriction" name="dateTime">
                <xs:complexContent>
                    <xs:extension base="tns:baseDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType abstract="true" name="baseDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType abstract="true" name="abstractDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractInstant">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType abstract="true" name="abstractInstant">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="package">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="initializeDelivery">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="initializeDeliveryResponse">
                <xs:sequence/>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNextDeliveryResponse">
        <wsdl:part name="parameters" element="ns1:getNextDeliveryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextDelivery">
        <wsdl:part name="parameters" element="ns1:getNextDelivery">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="initializeDelivery">
        <wsdl:part name="parameters" element="ns1:initializeDelivery">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="initializeDeliveryResponse">
        <wsdl:part name="parameters" element="ns1:initializeDeliveryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DeliveryWebService">
        <wsdl:operation name="getNextDelivery">
            <wsdl:input name="getNextDelivery" message="ns1:getNextDelivery">
            </wsdl:input>
            <wsdl:output name="getNextDeliveryResponse" message="ns1:getNextDeliveryResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeDelivery">
            <wsdl:input name="initializeDelivery" message="ns1:initializeDelivery">
            </wsdl:input>
            <wsdl:output name="initializeDeliveryResponse" message="ns1:initializeDeliveryResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DeliveryWebServiceServiceSoapBinding" type="ns1:DeliveryWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getNextDelivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNextDelivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNextDeliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeDelivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="initializeDelivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="initializeDeliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DeliveryWebServiceService">
        <wsdl:port name="DeliveryWebServicePort" binding="ns1:DeliveryWebServiceServiceSoapBinding">
            <soap:address location="http://localhost:8080/DeliveryComponent/webservices/DeliveryWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
